.Member {
  width: 400px;
  height: 250px;
  background-color: #f44336;
  margin: 10px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  box-shadow: 2px 15px 53px -26px rgba(0,0,0,0.65);        
}
.Member .profileImg {
  width: 85px;
}
.Member .profileImg img {
  width: 100%;
  border-radius: 50%;
}
.Member .upperContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Member .name{
  margin-left: 10px;
  width: 260px;
}

@media all and (max-width: 480px) {
  .Member {
    width: 340px;
    height: 190px;
    padding: 25px 20px;
    box-shadow: 0px 6px 19px -6px rgba(0,0,0,0.23);
  }
  .Member .name{
    width: 200px;
  }
}

@media all and (min-width: 481px) and (max-width: 767px){
 
}
@media all and (min-width: 768px) and (max-width: 959px) { 
  .Member {
    width: 340px;
    height: 190px;
    padding: 25px 20px;
    box-shadow: 0px 6px 19px -6px rgba(0,0,0,0.23);
  }
  .Member .name{
    width: 200px;
  }

 }

